[include]
	path = ~/.gitconfig.local
[core]
	autocrlf = false
	safecrlf = true
	editor = vim
	quotepath = false
	excludesfile = ~/.gitignore_global
[alias]
	graph = log --graph --date=short --pretty=\"format:%C(yellow)%h %C(cyan)%ad %C(green)%an%Creset%x09%s %C(red)%d%Creset\"
	co = checkout
	rb = rebase
	rs = reset
	cm = commit
	f = fetch
	m = merge --no-ff
	a = add
	p = push
	d = diff
	s = show
[push]
	default=simple
[diff]
	guitool = gvimdiff
	noprefix = true
[difftool.gvimdiff]
	cmd = gvim -d $LOCAL $REMOTE
[url "https://"]
	insteadOf = git://
[credential]
	helper = cache
