[include]
	path = ~/.gitconfig.local
[core]
	autocrlf = false
	safecrlf = true
	editor = vim
	quotepath = false
	excludesfile = ~/.gitignore_global
[alias]
	graph = log --graph --date=short --pretty=\"format:%C(yellow)%h %C(cyan)%ad %C(green)%an%Creset%x09%s %C(red)%d%Creset\"
    g  = !git graph
	lx = !git graph -15
	co = checkout
	rb = rebase
	rs = reset
	cm = commit
	f = fetch
	m = merge --no-ff
	a = add
	p = push
	pl = pull --ff-only
	d = diff
	dl = diff --name-status
	s = show
	s = status -s
    sb = show-branch master develop @
    sh = show
	ignore = "!gi() { curl -L -s https://www.gitignore.io/api/$@ ;}; gi"
    cb= "!cb(){ printf $(git rev-parse --abbrev-ref HEAD)$(test \"$1\" == \"-u\" && printf '@{u}') ;}; cb"
    dfile= "!df(){ local a=$1; shift; local b=$1; shift ; git diff $@ HEAD:${GIT_PREFIX}{$a,$b} ;}; df"
    ls-ref="!lsr(){ git for-each-ref --format='%(HEAD),%(objectname:short),%(refname:short),%(upstream:short)' | column -t -s, ;}; lsr"
    sw="!sw(){ git ls-ref | peco | cut -c2- | awk '{ print $2} '| xargs git checkout $@ ;}; sw"
[push]
	default=simple
[pager]
	log  = (diff-highlight 2>/dev/null || cat) | ${PAGER:-less}
	show = (diff-highlight 2>/dev/null || cat) | ${PAGER:-less}
	diff = (diff-highlight 2>/dev/null || cat) | ${PAGER:-less}
[interactive]
	diffFilter = (diff-highlight 2>/dev/null || cat)
[diff]
	guitool = gvimdiff
	noprefix = true
	compactionHeuristic = true
[difftool.gvimdiff]
	cmd = gvim -d $LOCAL $REMOTE
[url "https://"]
	insteadOf = git://
[credential]
	helper = cache
